* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	font-family: Roboto, helvetica, sans-serif;
    margin: 1rem;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

marquee {
	padding: 1rem;
	background-color: #eee;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
}

main {
	display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

h2 {
	color: navy;
	text-align: left;
    grid-column: 1/3;
}

section {
    padding: 1rem;
}

article p {
	text-align: justify;
}

.callout {
    padding: 1rem;
	color: #fff;
	background-color: #601040;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}

.banner {
    padding: 1rem;
    background-color: rgba(225, 237, 248, 1);
    color: #000;
    text-align: center;
    font-weight: 900;
}
