:root {
    --defaultBlack: #000;
    --defaultWhite: #fff;
    --lightGray: #bbb;
    --darkGray: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

main {
    background-color: #8157b5;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-content: center;*/
    /*min-height: 100vh;*/
    display: grid;
    grid-template-columns: 1fr;
}

img {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: black;
    animation: fade 15s;
}

footer {
    padding: 1rem 0 2rem 0;
    text-align: center;
}
