@media (min-width: 600px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav ul {
        display: flex;
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}
    button::before {
        display: none;
    }
    main .main-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px) {
    main .main-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
